@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap&subset=cyrillic');

html, body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
}

a {
    color: #188181;
    text-decoration: underline;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

body {
    display: table;
    min-height: 100vh;
    width: 100%;
    background: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

main {
    display: table-row;

    height: 100%;
}

header {
    height: 60px;
    background: #ffffff;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.1);
}

footer {
    background: #188181;
    height: 100px;
    color: #ffffff;
    margin-top: 100px;
}

input[type="checkbox"] {
    position: unset;
    margin: 0;
}

/* Header */
.header-sign {
    float: right;
    margin-top: 15px;
}
.header-sign a {
    text-decoration: none;
}
.header-sign .sign-up-button {
    padding: 10px 15px;
    background: #188181;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
}
.header-sign .sign-up-button:hover {
    background: #009999;
    text-decoration: none;
}
.logo {
    margin-top: 5px;
}
/* End of header */

/* Form */
.alert {
    margin-top: 5px;
    padding: 5px;
}
.auth-form {
    width: 400px;
    margin: 0 auto;
}
.form {
    width: 600px;
    margin: 0 auto;
}
.list {
    margin: 20px 0;
}
.label-block {
    display: block;
    clear: both;
}
.forget-password {
    float: right;
}
/* End of form */

.close-img-button {
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
}

.thumbnail {
    position: relative;
    display: block;
    padding: 4px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.main-page-link {
    padding: .375rem .75rem;
    border: 1px solid #cccccc;
    border-radius: 0 .25rem .25rem 0;
}

.main-page-link:hover {
    text-decoration: none;
    background: #eeeeee;
}

/* Dropdown */
.custom-dropdown {
    float: right;
    margin-top: 10px;
}
.custom-dropdown .dropdown-toggle::after {
    all: unset;
}
.custom-dropdown .btn-secondary {
    background: #188181;
    border: none;
    padding: 8px 15px;
}
.custom-dropdown .btn-secondary:hover {
    border: none;
}
.custom-dropdown .btn:hover, .btn:focus, .btn.focus {
    background: #009999;
    color: white;
}

.custom-dropdown .btn-secondary:not(:disabled):not(.disabled).active,
.custom-dropdown .btn-secondary:not(:disabled):not(.disabled):active,
.custom-dropdown .show>.btn-secondary.dropdown-toggle {
    background: #009999;
    color: white;
}
.custom-dropdown .dropdown-item.active, .dropdown-item:active {
    background: #009999;
}
.custom-dropdown .dropdown-item {
    text-decoration: none;
}

.custom-dropdown-left {
    margin-top: 10px;
}
.custom-dropdown-left .dropdown-toggle::after {
    all: unset;
}
.custom-dropdown-left .btn-secondary {
    background: #188181;
    border: none;
    padding: 8px 15px;
    text-decoration: none;
}
.custom-dropdown-left .btn-secondary:hover {
    border: none;
}
.custom-dropdown-left .btn:hover, .btn:focus, .btn.focus {
    background: #009999;
    color: white;
}

.custom-dropdown-left .btn-secondary:not(:disabled):not(.disabled).active,
.custom-dropdown-left .btn-secondary:not(:disabled):not(.disabled):active,
.custom-dropdown-left .show>.btn-secondary.dropdown-toggle {
    background: #009999;
    color: white;
}
.custom-dropdown-left .dropdown-item.active, .dropdown-item:active {
    background: #009999;
}
.custom-dropdown-left .dropdown-item {
    text-decoration: none;
}
/* End of Dropdown */

/* Button */
.custom-button {
    width: 100%;
    background: #188181;
    border: none;
}
.custom-button:hover {
    background: #009999;
}
.custom-button:not(:disabled):not(.disabled).active,
.custom-button:not(:disabled):not(.disabled):active {
    background: #188181;
}
/* End of button */

/* Modal */
.modal-text {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 15px;
}
.modal-header .close {
    margin: -1rem -1rem -1rem auto;
}
/* End of modal */

/* User */
.user-books-list {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
}
.book-item {
    background: #ffffff;
    padding: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    overflow: hidden;
}
.book-item .footer div {
    font-size: 14px;
    color: #999999;
}
.book-item .footer .status {
    float: left;
    margin-left: 5px;
}
.book-item .footer .views {
    float: right;
    margin-right: 5px;
}
.book-item .edit-panel {
    display: none;
    position: absolute;
    background: #ffffff;
    padding: 0 5px;
    right: 15px;
    top: 0;
    z-index: 10;
}
/* End of user */
