@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap&subset=cyrillic');

html, body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
}

a {
    color: #188181;
    text-decoration: underline;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

body {
    display: table;
    min-height: 100vh;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

main {
    display: table-row;

    height: 100%;
}

header {
    height: 60px;
    background: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.1);
}

footer {
    background: #188181;
    height: 100px;
    color: #ffffff;
    margin-top: 100px;
}

input[type="checkbox"] {
    position: unset;
    margin: 0;
}

.clearfix {
    display: block;
    width: 100%;
    height: 1px;
    clear: both;
}

/* Header */
.header-sign {
    float: right;
    margin-top: 15px;
}
.header-sign a {
    text-decoration: none;
}
.header-sign .sign-up-button {
    padding: 10px 15px;
    background: #188181;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
}
.header-sign .sign-up-button:hover {
    background: #009999;
    text-decoration: none;
}
.logo {
    margin-top: 5px;
}
/* End of header */

/* Form */
.alert {
    margin-top: 5px;
    padding: 5px;
}
.auth-form {
    width: 400px;
    margin: 0 auto;
}
.form {
    width: 600px;
    margin: 0 auto;
}
.list {
    margin: 20px 0;
}
.label-block {
    display: block;
    clear: both;
}
.forget-password {
    float: right;
}
.form-check {
    padding-left: 0;
}
.custom-select {
    height: calc(1.5em + .75rem + 6px);
}
/* End of form */

.close-img-button {
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
}

.thumbnail {
    position: relative;
    display: block;
    padding: 4px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.main-page-link {
    padding: .375rem .75rem;
    border: 1px solid #cccccc;
    border-radius: 0 .25rem .25rem 0;
}

.main-page-link:hover {
    text-decoration: none;
    background: #eeeeee;
}

/* Dropdown */
.custom-dropdown {
    float: right;
    margin-top: 10px;
}
.custom-dropdown .dropdown-toggle::after {
    all: unset;
}
.custom-dropdown .btn-secondary {
    background: #188181;
    border: none;
    padding: 8px 15px;
}
.custom-dropdown .btn-secondary:hover {
    border: none;
}
.custom-dropdown .btn:hover, .btn:focus, .btn.focus {
    background: #009999;
    color: white;
}

.custom-dropdown .btn-secondary:not(:disabled):not(.disabled).active,
.custom-dropdown .btn-secondary:not(:disabled):not(.disabled):active,
.custom-dropdown .show>.btn-secondary.dropdown-toggle {
    background: #009999;
    color: white;
}
.custom-dropdown .dropdown-item.active, .dropdown-item:active {
    background: #009999;
}
.custom-dropdown .dropdown-item {
    text-decoration: none;
}

.custom-dropdown-left {
    margin-top: 10px;
}
.custom-dropdown-left .dropdown-toggle::after {
    all: unset;
}
.custom-dropdown-left .btn-secondary {
    background: #188181;
    border: none;
    padding: 8px 15px;
    text-decoration: none;
}
.custom-dropdown-left .btn-secondary:hover {
    border: none;
}
.custom-dropdown-left .btn:hover, .btn:focus, .btn.focus {
    background: #009999;
    color: white;
}

.custom-dropdown-left .btn-secondary:not(:disabled):not(.disabled).active,
.custom-dropdown-left .btn-secondary:not(:disabled):not(.disabled):active,
.custom-dropdown-left .show>.btn-secondary.dropdown-toggle {
    background: #009999;
    color: white;
}
.custom-dropdown-left .dropdown-item.active, .dropdown-item:active {
    background: #009999;
}
.custom-dropdown-left .dropdown-item {
    text-decoration: none;
}
/* End of Dropdown */

/* Button */
.custom-button {
    width: 100%;
    background: #188181;
    border: none;
}
.custom-button:hover {
    background: #009999;
}
.custom-button:not(:disabled):not(.disabled).active,
.custom-button:not(:disabled):not(.disabled):active {
    background: #188181;
}
/* End of button */

/* Modal */
.modal-text {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 15px;
}
.modal-header .close {
    margin: -1rem -1rem -1rem auto;
}
/* End of modal */

/* User */
.user-books-list {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
}
.book-item {
    position: relative;
    background: #ffffff;
    padding: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    overflow: hidden;
    border-radius: 5px;
}
.book-item img {
    width: 100%;
}
.book-item .footer {
    margin-top: 10px;
}
.book-item .footer div {
    font-size: 14px;
    color: #999999;
}
.book-item .footer .status {
    float: left;
    margin-left: 5px;
}
.book-item .footer .views {
    float: right;
    margin-right: 5px;
}
.book-item .edit-panel {
    display: none;
    position: absolute;
    background: #ffffff;
    padding: 0 10px;
    right: 0;
    top: 0;
    z-index: 10;
}
.book-item .edit-panel a {
    color: #666666;
}
.book-item .edit-panel a:hover {
    color: #999999;
}
.book-item .no-edit-panel {
    position: absolute;
    background: #ffffff;
    padding: 0 10px;
    right: 0;
    top: 0;
    z-index: 10;
}
.book-item .no-edit-panel a {
    color: #188181;
}
.book-item .no-edit-panel a:hover {
    color: #23A8A8;
}
.book-item .moderation {
    background: #FFD900;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
}
.book-item .active {
    background: #259433;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}
.book-item .inactive {
    background: #6C6C6C;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}
/* End of user */

/* Main */
.white-background {
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
}
.chosen-city {
    margin-top: 10px;
}
.chosen-city .title {
    line-height: 1;
}
.chosen-city .name {
    color: #188181;
    text-decoration: underline;
    cursor: pointer;
}
.chosen-city .name:hover {
    color: #333333;
    text-decoration: none;
}
/* End of main */

/* Book */
.book-view-wrapper {
    width: 800px;
    margin: 0 auto;
}
.book-view .owner {
    border-top: 2px solid #188181;
    border-bottom: 2px solid #188181;
    padding: 0 5px 0;
}
.book-view .extra-info {
    margin-top: 10px;
}
.book-view .extra-info .description {
    margin-left: 10px;
}
.book-view .fields div {
    margin-bottom: 7px;
}
/* End of book */

/* Owl carusel */
.owl-carousel .owl-item {
    padding: 10px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    padding: 0 10px 0;
}
.owl-carousel button.owl-dot {
    padding: 0!important;
}
/* End of owl */

/* Menu */
.nav-menu {
    margin-top: 13px;
}
.nav-menu li a {
    color: #333333;
    text-decoration: none;
}
.nav-menu li a:hover {
    text-decoration: underline;
}
/* End of menu */

/* Messages */
.messages {
    max-width: 700px;
    margin: 0 auto;
}
.messages .block {
    background: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.messages .border {
    border: 1px solid rgba(24, 129, 129, 0.5) !important;
}
.messages .block:hover {
    background: #eeeeee;
    padding: 10px;
}
.messages .link {
    text-decoration: none;
    color: #333333;
}
.messages .block .header .username {
    float: left;
}
.messages .block .header .date {
    float: right;
    color: #666666;
    font-size: 13px;
}
.messages .block .header .new {
    font-size: 13px;
    color: #666666;
}
.messages-form input {
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}
.messages-form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}
.messages .own {
    float: right;
    clear: both;
    padding: 5px;
    max-width: 49%;
    word-break: break-all;
}
.messages .own .login {
    font-style: italic;
    color: #999999;
}
.messages .own .text {
    background: #f2f2f2;
    border-radius: 5px;
    padding: 5px;
    line-height: 1.2;
}
.messages .mate {
    float: left;
    clear: both;
    padding: 5px;
    max-width: 49%;
    word-break: break-all;
}
.messages .mate .login {
    font-style: italic;
    color: #999999;
}
.messages .mate .text {
    background: lightblue;
    border-radius: 5px;
    padding: 5px;
    line-height: 1.2;
}
.messages .own .date, .messages .mate .date {
    font-size: 11px;
}
.send-message-js {
    float: right;
    padding: 5px;
    background: #188181;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    vertical-align: middle;
    margin-top: 5px;
}
.send-message-js:hover {
    background: #009999;
}
/* End of messages */
